<input id="pageid" value="1" style="display: none;">
<div id="content-wrapper">
        <div class="container-fluid">
          <!-- Sidebar -->
          <div class="sidebar">
          </div> <!-- End of Sidebar -->

          <!-- Shadow Bar -->
          <div class="shadow-bar"></div> <!-- End of Shadow Bar -->

          <!-- Main Content -->
          <div class="main-content">

            <!-- Left Veche -->
            <span id="tasks" style="display: none;"><%= @task %> </span>
            <div id="task-cards-veche" class="left-veche">
            </div> <!-- End of Left Veche -->
            
            <!-- Right Veche -->
            <%= render 'layouts/rightfilter' %>
            <!-- End of Right Veche -->

          </div> <!-- End of Main Content -->
        </div> 
      </div>

<script id="card_action">
  <div class="col-md-12" id="card_action_{{id}}">
   <div class="card card-task-action">
      <div class="card-task-action-header">
         <img src="{{photos.0.imagename}}" id="{{photos.0.id}}"> 
         <div>
            <h3>lorem ipsum</h3>
            <h2><span class="points"><i class="fa fa-database"></i> {{reward}}</span></h2>
            <p class="instructions">{{name}}</p>
            <p>{{description}}</p>
         </div>
      </div>
      <form>
         <input id="textarea_{{id}}" class="copy-entry" placeholder="Write your submission here" type="textarea"> 
         <div class="card-footer"> <a class="btn flag"><i class="fa fa-flag"></i></a> <div class="btn btn-primary pull-right submit-response" onclick="submitPost({{id}});"><span class="glyphicon glyphicon-ok"></span> &nbsp;Done</div> </div>
      </form>
   </div>
   </div>
</script>  
<script id="card">
  {{#.}}
  <div class="card-wrapper col-md-4">
                  <div class="card card-task" id="{{id}}">
                    <div class="card-header swatch{{type_flag}}"></div>
                    <div class="card-task-image">
                      <img src="{{photos.0.imagename}}">
                    </div>
                    <div class="card-task-copy">
                      <p><b>{{name}}</b></p>
                      <p>{{description}}</p>
                    </div>
                    <div class="card-task-info">
                      <span class="points"><i class="fa fa-database"></i> {{reward}}</span>
                      <span class="level"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star disabled"></i></span>
                    </div>
                  </div>
                </div>
        
        {{/.}}
</script>  
<script>
  $(document).ready(function() {
      var template = $('#card').html();
      Mustache.parse(template);   // optional, speeds up future uses
      var json = JSON.parse($('#tasks').html());
      var rendered = Mustache.render(template, json);
      $('#task-cards-veche').html(rendered);
      
    $('.card-task').on("click", function() {
      var clickedIndex, data, partial, pivotIndex;
      var id = this.id;
      clickedIndex = $('.card-task').index(this);
      pivotIndex = clickedIndex + (2 - (clickedIndex % 3)) -1;
      console.log(pivotIndex);
      $(json).each(function() {
        if(this.id == id) {
          template = $('#card_action').html();
          Mustache.parse(template);
          rendered = Mustache.render(template, this);
//          $('#card_action_'+id).html(rendered);

          $(rendered).insertAfter($('.card-task').parent().get(pivotIndex));
        }
      });
//      console.log('sdf' + rendered);
      <%#*$('#card_action_'+id).html(rendered);%>
      <%#*data = TASKS[this.id];%>
      <%#*partial = "<div class='col-md-12'> <div class='card card-task-action'> <div class='card-task-action-header'> <img src='../assets/images/products/" + data["image"] + "'> <div> <h3>" + data["title"] + "</h3> <h2><span class='points'><i class='fa fa-database'></i> " + data["reward"] + "</span></h2> <p class='instructions'>" + data["instructions"] + "</p> " + data["details"] + " </div> </div> <form> <input type='textarea' class='copy-entry' placeholder='Write your submission here'> <div class='card-footer'> <a class='btn flag'><i class='fa fa-flag'></i></a> <input type='submit'> </div> </form> </div> </div>";%>
      
      //return $(rendered).insertAfter($('.card-task').parent().get(pivotIndex));
    });
  }); 

</script>      
