    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="main-content-header-fixed">
                        <div class="pull-left">
                            <div class="dropdown dropdown-app">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Facebook Posts
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Linkedin Posts</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Twitter Posts</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Google+ Posts</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other Posts</a></li>
                                </ul>
                            </div>
                            <div class="dropdown dropdown-app">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"><i class="icon-points-darkgrey"></i> 100+ 
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">200+</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">300+</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">400+</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">500+</a></li>
                                </ul>
                            </div>
                            <div class="dropdown dropdown-app">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Fashion
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Health</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Education</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Travel</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Business</a></li>
                                </ul>
                            </div>
                            <%#*<div class="dropdown dropdown-app">%>
                                <%#*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">%>
                                <%#*More%>
                                <%#*<span class="caret"></span>%>
                                <%#*</button>%>
                                <%#*<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">%>
                                    <%#*<li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>%>
                                    <%#*<li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>%>
                                <%#*</ul>%>
                            <%#*</div>%>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-secondary-sm" id="btn-previous-card">Previous</button>
                            &nbsp;
                            <button class="btn btn-secondary-sm" id="btn-next-card">Next</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="main-content-body">
                        
                        <div class="alert alert-success alert-dismissible notification" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src=<%= asset_path 'check.png'%>> &nbsp;You have completed 3 tasks successfully. Complete <span class="notification-emphasis">10 tasks</span> and you have a chance to <span class="notification-emphasis-color">win 250 extra points</span>.
                        </div>
                      <pre id="tesettt">
<%= @task %>

                      </pre>
                        
                        <div class="card" id="card">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="task-details">
                                        <section class="task-details-header">
                                            <div class="pull-left"><h2 class="darkgreen-heading"><i class="icon-points-darkgreen"></i><span>250 Points</span></h2></div>
                                            <div class="pull-right"><h3><a href="#"><i class="icon-flag"></i></a></h3></div>
                                            <span class="clearfix"></span>
                                        </section>
                                        <section class="task-images">
                                            <div id="task-images-carousel" class="carousel slide" data-ride="carousel">
                                                  <!-- Indicators -->
                                                  <ol class="carousel-indicators">
                                                    <li data-target="#task-images-carousel" data-slide-to="0" class="active"></li>
                                                    <li data-target="#task-images-carousel" data-slide-to="1"></li>
                                                    <li data-target="#task-images-carousel" data-slide-to="2"></li>
                                                  </ol>

                                                  <!-- Wrapper for slides -->
                                                  <div class="carousel-inner">
                                                    <div class="item active">
                                                      <img src="http://www.allthedresses.net/wp-content/uploads/2014/03/Emroidered-Midi-Dress.jpg" alt="...">
                                                    </div>
                                                    <div class="item">
                                                      <img src="http://www.thefashionpolice.net/wp-content/uploads/2013/01/ASOS-Skater-Dress-With-Pink-Beading.jpg" alt="...">
                                                    </div>
                                                    <div class="item">
                                                      <img src="http://media.royalcaribbean.com/content/shared_assets/images/ports/hero/LGK_01.jpg" alt="...">
                                                    </div>
                                                  </div>

                                                  <!-- Controls -->
                                                  <a class="left carousel-control" href="#task-images-carousel" role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                  </a>
                                                  <a class="right carousel-control" href="#task-images-carousel" role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                  </a>
                                            </div>
                                            <div class="img-select">
                                                <div class="checkbox">
                                                  <label>
                                                    <input type="checkbox" value="">Selected for the post
                                                  </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="task-description">
                                            <h2 class="task-description-heading">Psychedelic Medusa Mini Dress</h2> 
                                            <br>
                                            <p class="task-description-text">Haas Brothers for Versace. Live loudly in a perfect cotton t-shirt, updated by The Haas Brothers colorful reimagined leopard print. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    </p>
                                            <h5><a href="#">View in Retailer's Shop <i class="icon-outside-link"></i></a></h5>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="task-creation">
                                        <h3 class="task-creation-heading">Create Facebook Post</h3>
                                        <p class="task-creation-instructions">Instructions from retailer. Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor amet ipsum</p>
                                        <form class="form response-form" role="form">
                                            <textarea class="form-control" class="form-control" rows="10" placeholder="Write your response here..."></textarea>
                                            <br>
                                            <button type="submit" class="btn btn-primary pull-right submit-response"><span class="glyphicon glyphicon-ok"></span> &nbsp;Done</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>