    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="main-content-header-fixed">
                        <div class="pull-left">
                            <div class="dropdown dropdown-app">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Facebook Posts
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Linkedin Posts</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Twitter Posts</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Google+ Posts</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other Posts</a></li>
                                </ul>
                            </div>
                            <div class="dropdown dropdown-app">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"><i class="icon-points-darkgrey"></i> 100+
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">200+</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">300+</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">400+</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">500+</a></li>
                                </ul>
                            </div>
                            <div class="dropdown dropdown-app">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Fashion
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Health</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Education</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Travel</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Business</a></li>
                                </ul>
                            </div>
                            <div class="dropdown dropdown-app">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                More
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-secondary-sm">Previous</button>
                            &nbsp;
                            <button class="btn btn-secondary-sm">Next</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="main-content-body">
                        
                        <div class="alert alert-success alert-dismissible notification" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="assets/images/check.png"> &nbsp;You have completed 3 tasks successfully. Complete <span class="notification-emphasis">10 tasks</span> and you have a chance to <span class="notification-emphasis-color">win 250 extra points</span>.
                        </div>
                        <div class="container-fluid cards-forvote-wrap">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="main-content-subheader">
                                        <div class="pull-left"><h2>Vote One of the Two Facebook Posts</h2></div>
                                        <div class="pull-right"><h3 class="darkgreen-heading"><i class="icon-points-darkgreen"></i>250 Points</h3></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 card1-forvote-wrap">
                                    <div class="card card1">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="task-details">
                                                    <section class="task-images">
                                                        <div class="selected-image"><img src="http://blog.lagisatu.com/wp-content/uploads/2014/02/langkawi.jpg" class="img-responsive"></div>
                                                    </section>
                                                    <section class="task-description"> 
                                                        <p class="task-description-text">User Response..Haas Brothers for Versace. Live loudly in a perfect cotton t-shirt, updated by The Haas Brothers colorful reimagined leopard print. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
                                                    </section>
                                                    <br>
                                                    <section class="task-action">
                                                        <button class="btn btn-primary"><i class="icon-vote"></i> Vote</button>
                                                        <button class="btn btn-secondary btn-flag"><i class="icon-flag"></i></button>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 card2-forvote-wrap">
                                    <div class="card card2">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="task-details">
                                                    <section class="task-images">
                                                        <div class="selected-image"><img src="http://media.royalcaribbean.com/content/shared_assets/images/ports/hero/LGK_01.jpg" class="img-responsive"></div>
                                                    </section>
                                                    <section class="task-description"> 
                                                        <p class="task-description-text">User Response..Haas Brothers for Versace. Live loudly in a perfect cotton t-shirt, updated by The Haas Brothers colorful reimagined leopard print. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
                                                    </section>
                                                    <br>
                                                    <section class="task-action">
                                                        <button class="btn btn-primary"><i class="icon-vote"></i> Vote</button>
                                                        <button class="btn btn-secondary btn-flag"><i class="icon-flag"></i></button>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
