 <!-- Content wrapper -->
      <div id="content-wrapper">
        <div class="container-fluid">

          <!-- Sidebar -->
          <div class="sidebar">
          </div> <!-- End of Sidebar -->

          <!-- Shadow Bar -->
          <div class="shadow-bar"></div> <!-- End of Shadow Bar -->

          <!-- Main Content -->
          <div class="main-content">
            <span style="display: none;" id="tasks"><%= @posts %></span> 
            <div id="vote-solo-veche" class="left-veche">

              <!-- Card Row 1 -->
              <div class="row" id="task-cards-veche">
              </div> <!-- End of Card Row 1 -->
            </div> <!-- End of Left Veche -->
            
            <!-- Right Veche -->
            <%= render 'layouts/rightfilter' %>
            
            <!-- End of Right Veche -->

          </div> <!-- End of Main Content -->
        </div> 
      </div> <!-- End of-->
      <script>
         $('.topnav').each(function () {
            $(this).removeClass('active');
        });
        $('.topnav').addClass('active');
       </script> 
       
       <script id="card">
         {{#.}}
         <div class="card-wrapper col-md-6">
                  <div class="card card-vote" id="{{id}}">
                    <div class="card-vote-image" style="background-image: url('{{image}}');">
                    </div>
                    <div class="card-vote-copy">
                      <p><b>{{name}}</b></p>
                      <p>{{description}}</p>
                    </div>
                    <div class="card-vote-actions clearfix">
                      <a class="btn flag"><i class="fa fa-flag"></i></a>
                      <a class="btn btn-primary vote pull-right" onclick="votePost({{id}});">Vote</a>
                    </div>
                  </div>
                </div>
        {{/.}}
       </script> 
       
       
       <script>
  $(document).ready(function() {
      var template = $('#card').html();
      Mustache.parse(template);   // optional, speeds up future uses
      var json = JSON.parse($('#tasks').html());
      var rendered = Mustache.render(template, json);
      $('#task-cards-veche').html(rendered);
  }); 

</script>