.icon-flag {
    display: inline-block;
    width: 20px;
    height: 23px;
    background-image: url("/assets/icons-sprite.png");
    background-position: -60px -179px;
}

.icon-points-darkgreen {
    display: inline-block;
    width: 20px;
    height: 23px;
    background-image: url("/assets/icons-sprite.png");
    background-position: -17px -179px;
}

.icon-vote {
    display: inline-block;
    width: 20px;
    height: 14px;
    background-image: url("/assets/icons-sprite.png");
    background-position: -206px -185px;
}

.icon-search {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("/assets/icons-sprite.png");
    background-position: -235px -185px;
}

.icon-points-darkgrey {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("/assets/icons-sprite.png");
    background-position: -180px -185px;
}

.icon-perk-istaken {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/assets/icons-sprite.png");
    background-position: -253px -117px;
    border: 1px solid #85918D;
    @include border-radius(12px);

    &:hover {
        background-color: lighten($bg-dark, 10%);   
    }
}
        
.icon-perk-isnottaken {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/assets/icons-sprite.png");
    background-position: -285px -116px;
    border: 1px solid $primary-color;
    @include border-radius(12px);

    &:hover {
        background-color: $primary-color;
        background-position: -315px -116px;
    }
}
