.navbar {
    background-color: $primary-color;
    border-radius: 0px;
    border: 0px;
    
    a.navbar-brand {
        color: #fff;
        padding-right: 105px;
    }
    
    ul.nav.navbar-nav li a {
        color: #fff; 

        &:hover {
                color: lighten($primary-color, 50%);
                background-color: darken($primary-color, 2%); 
        }
    }
    
    ul.nav.navbar-nav li.active a {
        background-color: darken($primary-color, 4%);
        color: $secondary-color;
        font-weight: 600;
    }
    
    ul.nav.navbar-nav.navbar-right {
    
        .dropdown {
            
            a:focus {background-color: darken($primary-color, 5%); color: #fff;}
                 
            a.dropdown-wheeloffortune {
                background-image: url("../images/icons-sprite.png"); 
                background-position: -12px -30px;
                text-indent: 26px;
                position: relative; 
                font-weight: 800;
                font-style: italic;
                width: 48px;

                .count {margin-left: -25px;}
            }

            a.dropdown-notification {
                background-image: url("../images/icons-sprite.png"); 
                background-position: -186px -30px;
                text-indent: 18px;
                position: relative; 

                .count {margin-left: -18px;}
            }

            .count-wrap {
                    position: absolute;
                    display: block;
                    top: 5px;
                    left: 25px;
                    background-color: $secondary-color;
                    @include border-radius(8px);
                    font-size: 9px;
                    width: 13px;
                    height: 13px;
                    color: #CC4A15;
                    font-weight: 600;
                    text-align: center;

                    .count {
                        display: block;
                        margin-top: -3px;
                    }
                }

            a.dropdown-user {
                background-image: url("../images/icons-sprite.png"); 
                background-position: -186px 8px;
                font-size: 22px;
                font-family: serif;
                text-indent: 30px;

                .icon-user {
                    background-image: url("../images/icons-sprite.png");                           background-position: -129px -40px;
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                }
            }
            
            ul.dropdown-menu li a {
                color: $bg-dark;
                font-size: 12px;

                &:hover {
                    background-color: $bg-light;   
                }
            }
            
            .dropdown-menu-withtable {
                min-width: 300px;
            }
        }     
    }
}